.head {
  background-image: url(1-head.png);    
  max-width: 1440px;
  height: 891px;
  display: flex;
  justify-content: center;
  color: var(--white-color);  
}

.announc {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1430px; 
  height: 670px;
  gap: 30px;
  margin-top: 150px;
  /* overflow: hidden;   */
}

.main {
  font-family: Jost;
  font-size: 40px;
  font-weight: 400;
  line-height: 79px;
}

.king {
  font-family: Mak;
  font-size: 77px;
  font-weight: 700;
}

.dali-date {
  display: flex; 
  font-family: Jost;
  font-size: 35px;
  font-weight: 300;
  gap: 410px;
}

.marquee {
  display: flex;
  /* width: fit-content;   */
  transform: rotate(3.13deg); /* Поворот строки */
  color: var(--white-color); 
  background-color: var(--black-background-color);
  border: 1px solid var(--text-color);
  padding: 10px; /* Добавление внутреннего отступа для контента */
  margin-top: 140px; /* Уменьшение отступа сверху */
}

.text {
  font-family: Mak;
  font-size: 28px;
  font-weight: 300px;
}

