.button {
    width: 404px;
    height: 80px;
    padding: 21px, 64px, 21px, 64px;
    /* border: 2px; */
    border-color:#313030;
    gap: 8px;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400; 
    text-align: center;
    /* border-radius: 35px; */
    cursor: pointer;
}

.button:hover {
    opacity: 70%;
}
