
.wrapper {  
  background-color: var(--black-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1270px;
  height: 2061px;
  border-top: 1px solid #6D7285;
}

.row{
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;  
}

.text {
  height: 200px; 
  font-family: Jost;
  font-size: 50px;
  font-weight: 300;    
  color: var(--text-color); 
  background-color: var(--black-background-color);
  display: flex;
  align-items:center;
  align-self: flex-start; 
}

.dali-left {
  width: 636px;
  height: 615px;
  border: 1px;
  background-image: url('/dali-left.png');
  border: 1px solid var(--text-color);
}

.dali-right {
  width: 636px;
  height: 615px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A18B5E;
  font-family: Jost;
  font-size: 70px;
  font-weight: 300;   
  color: var(--text-color);
  border: 1px solid var(--text-color);
}


.kalo-left {
  width: 636px;
  height: 615px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #926647;
  font-family: Jost;
  font-size: 70px;
  font-weight: 300;   
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.kalo-right {
  width: 636px;
  height: 615px;
  background-image: url(/kalo-right.png);
  border: 1px solid var(--text-color);
}

.magrit-left {
  width: 636px;
  height: 615px;
  background-image: url(/magrit-left.png);
  border: 1px solid var(--text-color);
}

.magrit-right {
  width: 636px;
  height: 615px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6D7285;
  font-family: Jost;
  font-size: 70px;
  font-weight: 300;   
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.all {
  margin: 50px;
  cursor: pointer;  
}

.text-bottom {
  font-family: Jost;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: var(--text-color);
  animation: blink 1s infinite;  
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.text-bottom:hover {
   color: var(--dali-color);
}





