.content {
  display: flex;
  flex-direction: column;  
  align-items:center;   
  width: 482px;
  height: 499px;
  top: 51px;
  left: 41px;
  gap: 68px;
  color: var(--text-color);
}

.name {
  font-family: Mak;
  font-size: 55px;
  font-weight: 300;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  margin: 51px;  
}

.date {
  font-family: Jost;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  text-align: left;
  margin-left: 51px;
}

.price {
  font-family: Jost;
  font-size: 40px;
  font-weight: 400;
  line-height: 51px;
  text-align: left;
  margin-bottom: 50px;
}

.transparent-button {
  background-color: transparent; 
  font-family: Jost;
  font-size: 30px;
  font-weight: 400;
  color: var(--text-color);
  width: 404px;
  height:80px;
  padding: 21px, 64px, 21px, 64px;
  border: 2px solid var(--text-color);
  }

.transparent-button:hover {
  opacity: 50%;
}