.header {
  display: flex;
  align-items: center; 
  height: 133px; 
  background-color: var(--black-background-color);
  color: var(--text-color);
  gap: 40px;  
  padding-left: 85px;
  
}

.logo {
  display: flex;
  align-items:center;
  gap: 14px;
  margin-right: 183px;
}

.text-museum {
  font-family: var(--font-jost-regular);  
  text-align: left;   
  font-size: 26px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0em;
  cursor: pointer; 
}

.menu {
  max-width: 578px;
  display: flex;  
  justify-content: space-between;  
  gap: 81px;
  font-family: var(--font-jost-regular);
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  margin-right: 90px;
  margin-left: 1px;
}

.link {
  text-decoration: none;
  color: var(--text-color)
}

.active {
  color: var(--dali-color);
  text-decoration: underline;
}

.link:hover {
  color: var(--dali-color);
}

.search-block {
  display: flex;
  align-items:center;  
  gap: 26px;
  
}

.search-block img {
  cursor: pointer;
}

.search-block img:hover {
  background-color: var(--dali-color);
}

.text { 
  font-family: var(--font-jost-regular); 
  font-size: 26px;
  font-weight: 400; 
  line-height: 35px;
  letter-spacing: 0em;
  cursor: pointer;
}

.text:hover {
  color: var(--dali-color);
}


