.header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  height: 133px;
  justify-content: space-evenly;
  background-color: var(--black-background-color);
  color: var(--text-color);
  gap: 30px;  
}

.logo {
  display: flex;
  align-items:center;
  gap: 25px;
  margin-right: 120px;
}

.text-museum {
  font-family: var(--font-jost-regular);  
  text-align: left;   
  font-size: 33px;
  font-weight: 200;
  cursor: pointer;
}

.menu {
  display: flex;  
  margin-right: 60px;
  gap: 50px;
  font-family: var(--font-jost-regular);
  font-size: 25px;
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: var(--text-color)
}

.active {
  color: var(--dali-color);
  text-decoration: underline;
}

.link:hover {
  color: var(--dali-color);
}

.search-block {
  display: flex;
  align-items:center;  
  gap: 20px;
  
}

.search-block img {
  cursor: pointer;
}

.search-block img:hover {
  background-color: var(--dali-color);
}

.text { 
  font-family: var(--font-jost-regular); 
  font-size: 22px;
  font-weight: 400; 
  cursor: pointer;
}

.text:hover {
  color: var(--dali-color);
}


