.header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  height: 133px;
  justify-content: space-evenly;
  background-color: var(--black-background-color);
  color: var(--text-color);
  gap: 30px;
}

.logo {
  display: flex;
  align-items:center;
  gap: 25px;
  margin-right: 120px;
}

.text-museum {
  font-family: var(--font-jost-regular);  
  text-align: left;   
  font-size: 26px;
  font-weight: 200;
}

.menu {
  display: flex;  
  margin-right: 60px;
  gap: 60px;
  font-family: var(--font-jost-regular);
  font-size: 18px;
  font-weight: 400;
}

.menu a {
  text-decoration: none;
  color: var(--text-color)
}

.search-block {
  display: flex;
  align-items:center;  
  gap: 20px;
}

.text { 
  font-family: var(--font-jost-regular); 
  font-size: 18px;
  font-weight: 400; 
}


