.wrapper {
  position: relative;
  display: flex;
  justify-content:space-around;
  max-width: 1440px;
  height: 339px; 
  color: var(--text-color);
  border-top: 1px  solid var(--text-color);
  background-color: var(--black-background-color);  
  z-index: 1;
}



.imgFooter {
  position: absolute;
  width: 673px;
  height: 423px;
  top: -84px;
  left: 767px;
  /* opacity: 50%; */
  z-index: -1;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 34px;
  margin-top: 50px;  
  }

.contacts img {
  width: 80px;
  height: 80px;
}


.phone {
  font-family: Jost;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}

.email {
  font-family: Jost;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;   
  text-align: left;
  cursor: pointer;
}

.links {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;   
  text-decoration: none;
  gap: 20px;
  margin-top: 50px;
}

.link {
  color: var(--text-color);
  text-decoration: none;
}

.active {
  color: var(--dali-color);
  text-decoration: underline;
}

.link:hover {
  color: var(--dali-color);  
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  gap: 20px;
  margin-top: 50px;
}

.network {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  gap: 20px;
  margin-top: 50px;
  margin-right: 95px;
}