:root {
  --font-mak-light: 'Mak-Light', sans-serif;
  --font-mak-bold: 'Mak-Bold', sans-serif;
  /* --font-jost-light: 'Jost-Light', sans-serif; */
  --font-jost-regular: 'Jost', sans-serif;
  --white-color: #FFFFFF;
  --black-background-color: #191919;
  --frida-color: #926647;
  --dali-color: #A18B5E;
  --rene-color: #6D7285;
  --text-color: #E7E7E7;
}

@font-face {
  font-family: 'Mak-Light';
  src: url('./fonts/MAK.otf') format('opentype');
}

@font-face {
  font-family: 'Mak-Bold';
  src: url('./fonts/MAK-bold.otf') format('opentype');
}

body {
  font-family: 'Mak-Light', 'Mak-Bold', "Jost",  sans-serif;  
  margin: 0;
}

